body{
    background-color: cornsilk;
    font-family: 'Raleway', sans-serif;
    width: 100%;
  }
  
  /*sidebar*/
  
  .sidebar{
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1;
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: black;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #818181;
  }
  
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  
  .sidebar .home img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    position: relative;
    top: 5px;
  }
  
  
  .sidebar .Search img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    position: relative;
    top: 5px;
  }
  
  .sidebar .Search a{
    padding-top: 0px;
  }
  
  .sidebar .Playlist a{
    justify-content: center;
  }
  
  .sidebar img .logo {
  width: 30px;
  height: 30px;
  }
  
  .sidebar .logo img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 20px;
    }
  
  /*END sidebar*/
  
  

  .tracksrank{
    width: 1280px;
  }

  .thetracks{
    margin-left: 233px;
    
  }

  .thetracks img{
    width: 400px;

  }

 .tracksrank .thetracks .rank{
   position: relative;
   left: 600px;
   bottom: 633px;
 }

 .tracksrank .thetracks .rank ol{
   margin-top: 10px;
 }

 .tracksrank .thetracks .rank ol li{
   justify-content: space-around;
   padding-top: 25px;
 }