body{
  background-color: cornsilk;
  font-family: 'Raleway', sans-serif;
}

.sidebar{
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1;
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  border-color: black;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: #818181;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.sidebar .home img{
  width: 30px;
  height: 30px;
  padding-right: 10px;
  position: relative;
  top: 5px;
}


.sidebar .Search img{
  width: 30px;
  height: 30px;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

.sidebar .Search a{
  padding-top: 0px;
}

.sidebar .Playlist a{
  justify-content: center;
}

.sidebar img .logo {
width: 30px;
height: 30px;
}


.footer {
   margin-top: 10px;
    width: 1250px;
    height: 133px;
    margin-left: 170px;
    text-align: center;
    z-index: 1;
    justify-content: space-around;
  }
.footer p{
  position: absolute;
  bottom: -833px;
}

.footer .copy img{
  width: 133px;
  position: relative;
  top: 163px;
  left: 489px;
}
  

.sidebar .logo img{
max-width: 100%;
max-height: 100%;
display: block;
border-radius: 20px;
}


.CajasFila1 .caja{
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.tracksrank{
  width: 1250px;
  margin-left: 170px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.tracksrank .titulo{
  width: 100%;
  margin-left: 50px;
  margin-top: 33px;
  font-size: 30px;
}

.thetracks .thecontainer .photo{
  width: 200px;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 30px;
}

.thetracks h2{
  font-size: 17px;
  margin-left: 30px;

}

.thetracks p{
  font-size: 12px;
  margin-left: 30px;
}

.thetracks a{
  margin-left: 30px;
}
