body{
  background-color: cornsilk;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

/* START Welcome */

.Welcome{
  text-align: center;
}

#saludo{
  font-size: 60px;
  font-weight: 700;
  position: relative;
  animation: text 5s 1;
}

#spanWelcome{
    font-size: 25px;
    position: relative;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  10%{
    letter-spacing: 15px;
    margin-bottom: -40px;
  }

}

/* END Welcome*/

.carouselStart{
  margin-top: 200px;
}

.poneNegro{
  color: black;
}

#titulo{
text-align: center;
margin-top: 20px;
}

.titleGenre{
  text-align: center;
}


.photo-genero{
  width: 250px;
  height: 250px;
}

/*sidebar*/

.navbar-brand{
  height: 70px;
  width: 130px;
}

/*END sidebar*/

/* slider */

#Grande{
  font-size: 30px;
  font-family: 'MuseoModerno', cursive;
}

/* END slider*/

.Welcome span{
  display: none;
}




/*CAROUSEL START*/
.d-block{
  height: 450px;
  width: 100px;
}

.pad{
  margin-top: 20px;
 
}

canvas, img, video {
  max-width: 100%;
  height: auto;
  height: 70%;
  width: 100%;
  box-sizing: border-box;
}

.uk-card-body {
  display: flow-root;
  padding: 30px 30px;
}
/*CAROUSEL END*/


/* footer*/

footer{
background-color: #f8f9fa;
width: 100%;
}

footer article{
  width: 90%;
  margin-left: 20px;
  
}

.deezer img{
width: 200px;
border-radius: 5px;
position: relative;
left: 90%;
margin-top: 20px;
}

.RedesSociales a i{
position: relative;
left: 1150px;
bottom: 60px;
align-items: center;
}
  
/* END footer*/

.tracksrankGenero{
  margin-left: 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.imageGenero{
  margin: 0px;
  width: 230px;
  height: 230px;
  border-radius: 7px;
}

.CajasFila1 .caja{
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.tracksrank{
  margin-left: 0px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.thetracks a{
  color: black;
}

.tracksrank .titulo{
  width: 100%;
  margin-left: 50px;
  margin-top: 33px;
  font-size: 30px;
}

.image{
  width: 100%;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 20px;
}



.gTitle{
  text-align: center;
  width: 100%;
}

.thetracks h2{
  font-size: 17px;
  margin-left: 30px;
}

.thetracks p{
  font-size: 12px;
  margin-left: 30px;
}

.thetracks a{
  margin-left: 30px;
}


/*para tablet*/
@media only screen and (max-width: 768px){

  body{
      width: 740px;
  }

  .tracksrank .titulo{
    margin-left: 25px;
  }

  .tracksrank{
    width: 500px;
  }

  .footer{
    width: 200px;
    margin-right: 0px;
  }

  .article{
    margin: 0px;
  }
  .copy {
    display: flex;
  }

  .deezer{
    display: none;
  }

  .footer p{
    bottom: -1920px;;
  }

      /*para celulares*/
@media only screen and (max-width: 425px){

  body{
    width: 350px;
}

.tracksrank{
width: 200px;

}

.article{
margin: 0px;
}

