.sizeIm {
    width: 200px;
    height: 200px;
}


.titulosBuscados {
    font-size: 15px;
    color: black;
}

.buscados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buscadosTracks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tituloTracks {
    text-align: center;
}

.tituloAlbums {
    text-align: center;
}